.ele-selector {
    height: 100%;

    &-header {
        height: 48px;
        background-color: #fff9f3;
    }

    &-nav {
        height: 100%;
        display: flex;
        
        ul {
            display: flex;
            justify-content: space-around;
            height: 100%;
            flex: 1;

            li {
                width: 78px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .ele-selector-switch{
            width: 64px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}