* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

html,
body,
.App {
  height: 100vh;
}

.App {
  position: relative;
}

.App .app-container {
  position: relative;
  height: 100vh;
  padding-bottom: 50px;
}

.App .app-container .text-show-container {
  position: absolute;
  top: 150px;
  left: 130px;
  width: 170px;
  height: 165px;
  white-space: pre;
  color: yellow;
}

.App .app-container img {
  width: 100%;
  height: 100%;
}

.App .app-tabs {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
}